csharp/OneProgramToDo/.vs/OneProgramToDo/v16/.suo
csharp/OneProgramToDo/Advance/obj/*
csharp/OneProgramToDo/Advance/bin/*
csharp/OneProgramToDo/Algo/obj/*
csharp/OneProgramToDo/Algo/bin/*
csharp/OneProgramToDo/DesignPattern/obj/*
csharp/OneProgramToDo/DesignPattern/bin/*
csharp/OneProgramToDo/Starter/obj/*
csharp/OneProgramToDo/Starter/bin/*
